{% extends "navbar.html" %} {% block title %}Dashboard{% endblock %} {% block content
    %}

    <style>

.custom-card {
    background: linear-gradient(180deg, rgb(56, 113, 236), #c4c1c1 180%);
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    border: none;
    width: 500px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */

   /* width: 100px; /* Adjust width as needed 
    height: 200px; /* Adjust height as needed */
}

.custom-card .card-body {
    padding: 20px;
}

.custom-card2, .custom-card3  {
    background: linear-gradient(180deg, rgb(56, 113, 236), #c4c1c1 180%);
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    border: none;
    width: 100px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    margin-right: 50px; /* Adjust margin-right for spacing */
    margin-top: 50px;
    position: absolute;
}



.custom-card4 {
    background-color: rgb(227, 208, 208);
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    border: none;
    width: 500px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    margin-top: 50px;
    position:relative;
}




/*.divTable{
	display: table;
	width: 40%;
    margin-top: 100px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0.5px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
*/


/*

#forecast div {
float: left;
width: 112px;
margin-right: 20px;
background: #3176bc;
background: linear-gradient(0deg,rgb(101 156 207) 0%,rgb(50 104 177) 100%);
border-radius: 9px;
text-align: center;
color: #fff;
font-size: 19px;
text-transform: uppercase;
padding: 10px 0;
min-height: 250px;
}

*/
    </style>

<div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-4 mt-3">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search for a location" aria-label="Search" aria-describedby="search-addon" />
          <!-- Replace the search icon with an image -->
          <span class="input-group-text border-0" id="search-addon">
            <input id="search_btn_airport" title="Search" alt="Search" src="//s1.twnmm.com/images/en_ca/magnifying-glass.png" type="image">
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
  <div class="card gr-2">
    <div class="txt">
      <h1>Web Front-End </br>
SOLUTIONS</h1>
      <p>How design is implemented on the web.</p>
    </div>
     <a href="#">more</a> 
  <div class="ico-card">
    <i class="fa fa-codepen"></i>
  </div> 
  </div>
</div>
</div> -->

<div class="container">
    <div class="row justify-content-start mt-5"> <!-- Changed justify-content-center to justify-content-start -->
        <div class="col-md-6 col-lg-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">Black Gradient Card</h5>
                    <p class="card-text">This is a simple card with a black gradient background and shadow effect.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-6 col-lg-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card custom-card2">
                <div class="card-body">
                    <h5 class="card-title">Custom Card 1</h5>
                    <p class="card-text">This is a custom card with a width of 100px and a height of 200px.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card custom-card3">
                <div class="card-body">
                    <h5 class="card-title">Custom Card 2</h5>
                    <p class="card-text">This is a custom card with a width of 100px and a height of 200px.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of custom cards 2 and 3 -->
</div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card custom-card4">
                <div class="card-body">
                    <h5 class="card-title">Custom Card 3</h5>
                    <p class="card-text">This is a custom card with a width of 500px and a height of 200px. It is black.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    <div class="divTableCell">&nbsp;</div>
    </div>
    </div>
    </div>
-->




  {% endblock %}


