{% extends "navbar.html" %} {% block title %}Dashboard{% endblock %} {% block content
    %}

    <style>
        body {
            background: rgb(2,0,36);
    background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(107,183,242,1) 0%, rgba(249,245,245,1) 100%);
}
.container {
        min-height: 100vh; /* can maybe delete this later it makes the page bigger*/
    }

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.custom-font {
        font-family: 'Papyrus', sans-serif; 
    }
    h2{
        line-height:130px;
        margin-bottom: -140px;
    }
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  
    </style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var checkBox = document.getElementById("myCheck");
        var hiddenInput = document.querySelector("input[name='check']");
        
        checkBox.addEventListener("change", function() {
            hiddenInput.value = checkBox.checked ? "1" : "0";
            console.log("Checkbox state changed:", checkBox.checked);
        });
    });
</script>

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages%}
{%if messages[0][0] == 'changed'%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{messages[0][1]}}
   <!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{%endif%} 
{%endif%}
{%endwith%}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-5 border-right">
                <h2 class="text-center .custom-font">Profile</h2>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 "><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{firstName}} {{lastName}}</span><span class="text-black-50">{{email}}</span>
                    <span class="text-black-50">{{username}} </span>
                    {%if notifications %}
                    <span class="text-black-50"> 
                        Notifications: On 
                    </span>
                    {%else%}
                    <span class="text-black-50"> 
                        Notifications: Off 
                    </span>
                    {%endif%}
                    {%if not city %}
                    <span class="text-black-50"> 
                        Prefered City is None
                    </span>
                    {%else%}
                    <span class="text-black-50"> 
                        Prefered city is {{city}}
                    </span>
                    {%endif%}

                
                </div>
            </div>
            <div class="col-md-5">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <form method = "POST">
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" value="" name = "first_name"></div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="" placeholder="last name" name = "last_name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" placeholder="enter email" value="" name = "email"></div>
                        <div class="col-md-12"><label class="labels">Prefered City</label><input type="text" class="form-control" placeholder="city" value="" name ="city" ></div>
                      <!--<div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="username" value="" name = "username"></div> -->

                    </div>
                    <div class="row mt-3">
                        <span class="text-black-100" style="font-size:18px; ">Notifications:
                            <label class="switch">
                                <input type="checkbox" id="myCheck" name="check" {% if notifications %} checked {% endif %}>
                                <!-- <input type="hidden" name="noti" value="0"> -->
                                <span class="slider round"></span>
                              </label>
                        </span>
                    </div>
                  <!--  <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div> -->
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                    </form>
                </div>
            </div>

            
          <!-- <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
    </div>

    



    {% endblock %}